.showcase {
  position: relative;
  width: 90%;
  height: 17em;
  margin: 1em auto;
  overflow: hidden;
  background: transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

.thumbnail {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 300px;
  z-index: 1;
  background-size: cover;
  background-position: 0% 0%;
  background-size: cover;
  transition: right 250ms ease, left 250ms ease;
}

.thumbnail--awesome {
  background-image: url("../images/dont-cook.png");
}
.thumbnail--awesome-1 {
  background-image: url("../images/mood-analxyzer.png");
}

.thumbnail--awesome-2 {
  background-image: url("../images/CABer.png");
}
.thumbnail--awesome-3 {
  background-image: url("../images/quoteLoader.png");
}
.thumbnail--awesome-4 {
  background-image: url("../images/fight.jpg");
}
.thumbnail--awesome-5 {
  background-image: url("../images/survey.png");
}

.thumbnail__overlay {
  position: relative;
  padding-top: 8em;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  opacity: 0;
  transition: opacity 250ms ease;
}
.desc {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 2;
  background: var(--text-color);
  color: var(--bg-color);
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  border: 5px solid #1b1b2f;
  transition: background 250ms ease, color 250ms, width 250ms ease, padding 250ms ease;
}
.desc:after {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -10px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  content: "";
  transition: border-color 250ms;
}

.showcase--inverted .thumbnail {
  right: 0;
  left: 300px;
}
.showcase--inverted .desc {
  left: 0;
  right: auto;
}
.showcase--inverted .desc:after {
  left: auto;
  right: -20px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
}

.btn {
  padding: 1em 2em;
  border: 0.15em solid #fff;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: background 250ms;
}

@media screen and (min-width: 780px) {
  .btn:hover {
    background: rgba(0, 0, 0, 0.6);
  }

  .showcase:hover .thumbnail {
    right: 325px;
    left: -25px;
  }
  .showcase:hover .thumbnail__overlay {
    opacity: 1;
  }
  .showcase:hover .desc {
    width: 350px;
    padding-left: 45px;
    padding-right: 45px;
    background: var(--bg-color-2);
    color: #fff;
    border: 5px solid #fff;
  }
  .showcase:hover .desc:after {
    border-color: transparent #202426 transparent transparent;
  }
  .showcase--inverted:hover .thumbnail {
    left: 325px;
    right: -25px;
  }
  .showcase--inverted:hover .desc:after {
    border-color: transparent transparent transparent #202426;
  }
}

@media screen and (max-width: 768px) {
  .showcase {
    height: 34em;
    /* overflow: visible; */
  }
  .thumbnail {
    top: 17em;
    width: 100%;
  }
  .thumbnail__overlay {
    opacity: 1;
    height: 17em;
    padding: auto;
  }
  .desc {
    height: 17em;
    width: 100%;
    background-color: var(--bg-color-2);
    color: #fff;
  }

  .showcase--inverted .desc {
    left: 0;
    right: auto;
  }
  .showcase--inverted .thumbnail {
    right: 0px;
    left: 0px;
  }
}
