@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color-1: #1a1a1a;
  --background-color-1-opac: #1a1a1a3f;

  --background-color-2: lightcoral;
  --background-color-2-alt: #c26666a9;
  --background-color-2-opac: rgba(240, 128, 128, 0.486);

  --text-color: #ffffff;
  --un-text-color: #dfd0d0;
  --text-color-opac: #0000009a;

  --secondary-color: #ffd700;
  --secondary-color-opac: #ffd700d5;
  --extra-color: #ffd90069;
}

::selection {
  background-color: var(--un-text-color);
  color: #1a1a1a;
}

html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

body {
  background-color: var(--background-color-1);
  /* font-family: "Times New Roman", Times, serif; */
  font-family: "Montserrat", monospace;
  color: var(--text-color);
  line-height: 2;
  overflow-x: hidden;
  user-select: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  max-width: 90%;
  margin: 0 auto;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* NAVIGATION */
.logo {
  font-size: 45px;
  font-family: "Sacramento", monospace;
  font-weight: 200;
  transform: rotateZ(-2deg);
  cursor: pointer;
}
.nav_bar_links a {
  font-size: 50px;
  font-family: "Montserrat", monospace;
  font-weight: 500;
}
.link_check {
  width: 40%;
}
.nav_bar_links {
  width: 100%;
  justify-content: space-between;
  border-right: 5px solid var(--secondary-color);
}

.nav_bar_links li {
  width: 30%;
  /* border-radius: 5px; */
  border-left: 5px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_bar_links li a {
  padding: 0 0.5em;
  text-align: center;
  /* background-color: #3a3a3a; */
  width: 100%;
  height: 100%;
  color: var(--un-text-color);
  font-size: 16px;
}

.nav_bar_links li a:hover {
  /* background-color: var(--secondary-color-opac); */
  color: var(--background-color-1);
  transition: 0.3s ease-out;
}
.nav_bar_links li:hover {
  background-color: var(--secondary-color-opac);
  transition: 0.3s ease-out;
}

.nav_section {
  height: 10vh;
  position: sticky;
  top: 0px;
  position: -webkit-sticky;
  left: 0;
  background-color: var(--background-color-1-opac);
  transition: 0.4s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1;
}

/* HERO SECTION */
.hero {
  height: 90vh;
}
.hero_container {
  height: 100%;
}

.text_container {
  /* background-color: crimson; */
  position: absolute;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.2;
  top: 20%;
}

.hero_text1 {
  font-family: "Poppins", Times, serif;
  font-size: 1500%;
  line-height: 0.5;
  margin-top: 10%;
  /* z-index: 2; */
  /* transition: 10s all; */
  /* transform: skewX(-180); */
}

.hero_text2 {
  font-family: "Times New Roman", Times, serif;
  margin-top: 80px;
  font-size: 200%;
}
.hero_text3 {
  font-family: "Montserrat", Times, serif;
  line-height: 0.25;
  font-size: 175%;
}

.hero_text2 .logo {
  font-size: 120%;
}
.image_container {
  position: absolute;
  /* transition: 10s all; */
  top: 17%;
  right: 25%;
  z-index: -1;
}

.random_div {
  /* background-color: var(--extra-color); */
  position: absolute;
  /* right: 1%; */
  width: 400px;
  height: 600px;
  background-color: var(--background-color-1-opac);
  font-size: 3000%;
  text-align: center;
  color: rgba(255, 217, 0, 0.062);
  /* overflow-x: scroll; */
  overflow: hidden;
}

.jump_light {
  color: gold;
}
.jump_light1 {
  color: lightcoral;
  /* background-color: var(--text-color-opac); */
}
.jump_light2 {
  color: lightgreen;
  /* background-color: var(--text-color-opac); */
}
.jump_light3 {
  color: lightseagreen;
  /* background-color: var(--text-color-opac); */
}

/* HOME SECTION */

.home {
  background: linear-gradient(
    to bottom right,
    var(--background-color-2),
    var(--background-color-2-opac)
  );
  height: 100vh;
}

.intro_title,
.skill_title {
  font-size: 75px;
}

.keyboard_strokes {
  font-family: monospace;
  background-color: var(--background-color-1);
  border-radius: 5px;
}
.js {
  color: #f7df1e;
}
.py {
  color: #306998;
}
.html {
  color: #f16529;
}
.css {
  color: #264de4;
}
.cpp {
  color: #5a6bba;
}
.php {
  color: #757ab2;
}
.intro_content,
.skill_content {
  font-size: 20px;
}
/* SKILL SET SECTION */

.skillset {
  /* background: linear-gradient(
    to top right,
    var(--background-color-1-opac),
    var(--background-color-1)
  ); */
  height: 100vh;
  padding-top: 5vh;
}

.skill_bar {
  width: 100%;
}

.footer_section {
  background-color: aqua;
}

@media screen and (max-width: 1100px) {
  .nav_section > .flex {
    flex-direction: column;
  }
  .link_check {
    width: 80%;
  }
}
