/* NAVIGATION SECTION */
.navigation {
  height: 70px;
  width: 100%;
  background-color: var(--bg-color-opac);
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  z-index: 100;
}

.navigation > .flex {
  justify-content: space-between;
}

.logo a {
  color: var(--secondary-color);
  font-family: var(--logo-font);
  font-size: 50px;
  transition: 0.5s all;
}

.logo {
  transform: rotateZ(-3deg);
  transition: 0.5s all;
}
.navigation .logo a:hover,
.navigation .logo-container:hover,
.navigation .logo:hover {
  color: var(--secondary-color);
  font-size: 20px;
  transform: rotateZ(-1deg);
}

.navigation li a {
  color: var(--un-text-color);
}
.navigation li {
  margin: 0 3px;
  background-color: var(--background-color-2);
  text-align: center;
  transition: 0.2s all;
}
.navigation li:hover {
  border-bottom: 4px solid var(--secondary-color);
  color: orange;
  font-size: 20px;
  text-shadow: 2px 0 5px rgb(0, 0, 0);
}

.navigation nav {
  width: 40%;
  padding: 20px 1px;
}
.navigation nav li {
  width: 25%;
  padding: 3px 2px;
}

.navigation nav .flex {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.hamburger,
.close {
  display: none;
  color: var(--un-text-color);
  font-size: 20px;
}

/* HERO SECTION */

.hero {
  height: 90vh;
  padding-top: 100px;
  background-color: var(--bg-color);
}

.hero__text-1,
.hero__text-2,
.hero__text-3 {
  font-size: 200px;
  font-family: var(--header-font);
  text-shadow: 10px 0 20px rgba(0, 0, 0, 0.51);
  color: var(--text-color);
}

.hero__text-1 {
  line-height: 1.2;
}

.hero__text-2 {
  font-size: 70px;
  font-family: var(--header-font);
}

.hero__text-3 {
  font-size: 20px;
  font-family: var(--body-font);
  font-weight: 300;
}

.highlight {
  color: var(--secondary-color);
}

.hero__text-2 .highlight {
  font-family: var(--logo-font);
}

.highlight-1 {
  color: var(--fontcolor-1);
}
.highlight-2 {
  color: var(--fontcolor-2);
}
.highlight-3 {
  color: var(--fontcolor-3);
}

/* INTRO SECTION */

.intro {
  height: 100vh;
  background-image: url(../images/intro.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.keyboard_strokes {
  font-family: monospace;
  background-color: black;
  border-radius: 5px;
}
.js {
  color: #f7df1e;
}
.py {
  color: #306998;
}
.html {
  color: #f16529;
}
.css {
  color: #264de4;
}
.cpp {
  color: #5a6bba;
}
.php {
  color: #757ab2;
}

.intro_content p {
  padding: 20px;
  font-size: 18px;
  font-weight: 550;
}

.intro_title {
  font-size: 50px;
  padding: 20px 0;
}
.intro_title:after {
  content: "";
  height: 2.3px;
  background: var(--text-color);
  display: block;
}
.intro_title:before {
  content: "";
  height: 2.5px;
  background: var(--text-color);
  display: block;
}

/* SKILLS SECTION */

.skills {
  height: 100vh;
  position: relative;
  padding-top: 30px;
  background-color: var(--bg-color-3);
}

.skills_title {
  font-size: 50px;
  padding: 20px 0;
}

.skills_title:before {
  content: "";
  display: block;
  background: var(--text-color);
  height: 2.5px;
}

.skills_title:after {
  content: "";
  background: var(--text-color);
  display: block;
  height: 2.4px;
}

.skill_bar {
  width: 100%;
}

.skills_content {
  width: 100%;
}

.skills .card {
  color: var(--text-color);
}

/* * LANGUAGES SECTION */
.language {
  margin-top: 40px;
  margin-bottom: 40px;
}
.language .card {
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 10px;
  transition: transform 0.3s ease-in;
  background-color: #92a6db56;
  padding: 10px;
  overflow: hidden;
}

.language .flex {
  flex-wrap: wrap;
}

.language .card h4 {
  margin-bottom: 10px;
}

.language .card:hover {
  transform: translateY(-15px);
}

.other_text {
  font-size: 50px;
  color: var(--text-color);
  background-color: var(--bg-color-2);
}

/* PROJECTS SECTION */

.projects {
  height: auto;
  position: relative;
  padding: 30px 0;
  background-color: var(--bg-color-2);
  background-image: url(../images/intro.jpg);
  background-attachment: fixed;
}

.projects_title {
  font-size: 50px;
  padding: 20px 0;
  color: var(--text-color);
}

.projects_title:before {
  content: "";
  background-color: var(--text-color);
  display: block;
  height: 2.5px;
}

.projects_title:after {
  content: "";
  background-color: var(--text-color);
  display: block;
  height: 2.4px;
}

/* ABOUT SECTION */
.about {
  height: 80vh;
  position: relative;
  padding-top: 30px;
  background-color: var(--bg-color);
}

.about_title {
  font-size: 50px;
  padding: 20px 0;
  color: var(--text-color);
}

.about_title:before {
  content: "";
  background-color: var(--text-color);
  display: block;
  height: 2.5px;
}

.about_title:after {
  content: "";
  background-color: var(--text-color);
  display: block;
  height: 2.4px;
}

.about_content {
  color: var(--text-color);
}

/* FOOTER SECTION */

.footer {
  height: 50vh;
  background-image: url(../images/about.jpg);
}

.footer .grid-3 {
  gap: 50px;
}

.footer .flex {
  justify-content: space-between;
  align-items: center;
}

.copyright {
  padding-right: 200px;
}

.footer .logo-footer {
  text-align: right;
  font-size: 33px;
  font-family: var(--logo-font);
  font-weight: 100;
  padding-bottom: -10px;
  color: var(--secondary-color);
}

.footer .social a {
  margin: 0 10px;
  color: var(--text-color);
  transition: 0.4s ease;
}
.footer .social a:hover {
  color: black;
}

.footer .nav li,
.footer .nav a {
  transition: all 0.4s ease;
}
.footer .nav a {
  color: var(--text-color);
}
.footer .nav a:hover {
  border-bottom: 4px solid var(--secondary-color);
  text-shadow: 2px 0 10px black;
}
.footer .nav li:hover {
  transform: scale(1.2);
}

/* SUPPERERPERPERPRE COMMON */

.intro .card:hover,
.skills .card:hover,
.about .card:hover {
  background: linear-gradient(
    to top right,
    transparent,
    rgba(255, 255, 255, 0.05)
  );
  transform: translateY(-5px);
}
.intro .card,
.skills .card,
.about .card {
  transition: all 0.4s ease;
}
