.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(20px);
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color-2);
  height: 70px;
  z-index: 30;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--text-color-2);
  padding: 10px;
}

.navbar a:hover {
  border-bottom: 2px solid var(--text-color-2);
}
@media screen and (max-width: 500px) {
  .navbar {
    height: 80px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.11);
  }
}
