.side-nav {
  background-color: rgba(0, 0, 0, 0.91);
  width: 300px !important;
  height: 638px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  position: relative;
  top: 0;
  left: -300px;
  transition: left 0.5s ease;
  z-index: 2;
}

.side-nav .sections {
  margin: 0;
  padding-left: 0;
  padding-top: 90px;
}

.side-nav .sections li {
  width: 125px;
  display: block;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 0;
  font-size: 25px;
  color: #818181;
  transition: color 0.5s ease;
}

.side-nav .sections a:hover:before {
  width: 100%;
}

.side-nav .sections li:hover {
  cursor: pointer;
  color: #fff;
}
@media (max-width: 767px) {
  .side-nav {
    width: 100% !important;
    left: -100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .side-nav {
    width: 270px !important;
    left: -270px;
  }
}
.menu-icon {
  height: 24px;
  width: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  margin-left: 0;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon > div {
  width: 100%;
  height: 4px;
  background-color: black;
  margin-bottom: 6px;
  transition: all 0.4s ease;
}

.menu-icon .bar3 {
  margin-bottom: 0;
}

.x-bar {
  position: absolute;
  top: -30px;
  left: 307px !important;
  width: 30px;
  height: 30px;
  display: block;
  transition: top 0.5s ease;
}

.x-bar:hover {
  cursor: pointer;
}

.x-bar > div {
  background-color: black;
  width: 100%;
  height: 4px;
  margin-bottom: 6px;
  transition: 0.3s ease;
}

.x-bar .side-bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  -moz-transform: rotate(-45deg) translate(-8px, 7px);
  -o-transform: rotate(-45deg) translate(-8px, 7px);
  -ms-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);
}

.x-bar .side-bar2 {
  -webkit-transform: rotate(45deg) translate(1px, 0px);
  -moz-transform: rotate(45deg) translate(1px, 0px);
  -o-transform: rotate(45deg) translate(1px, 0px);
  -ms-transform: rotate(45deg) translate(1px, 0px);
  transform: rotate(45deg) translate(1px, 0px);
}
@media (max-width: 766px) {
  .x-bar {
    z-index: 1;
    left: 90% !important;
  }
  .x-bar > div {
    background-color: #888;
  }
}
@media (min-width: 767px) {
  .x-bar {
    left: 2%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .x-bar {
    z-index: 1;
    left: 280px !important;
  }
  .x-bar > div {
    background-color: black;
  }
}
